- form_for @recipe do |f|
  = f.label :name, 'Name:'
  = f.text_field :name
  %br
  %table
    - f.fields_for :parts do |p|
      %tr
        %td
          = p.label :amount
          = p.text_field  :amount
  = f.submit :submit
