%h1 Listing ingredients

%table{:border => 1}
  %tr
    %th Ingredient Name
    %th Variety
    %th Who added it
    %th User Id

  - @ingredients.each do |i|
    %tr
      %td
        = i.name
      %td
        = i.variety
      %td
        = i.user.email
      %td
        = i.user.id

= link_to 'New Ingredient', new_ingredient_path
