!!!
%html
  %head
    = csrf_meta_tag 
    %title Green Smoothies
  %body
    = javascript_include_tag :defaults
    %ul
      = render 'devise/login_items'
      = render 'devise/registration_items'
    %p 
      .notice
        = notice 
    %p 
      .alert
        = alert 
  = yield
